:root{--black:#1c1917;
    --green: #65a30d;
    --orange: #f97316;
    --grey:#d6d3d1}
body {font-family: 'Nunito Sans', sans-serif;
    color:var(--black) ;
    font-weight: 600;}
a{color: #78716c;
    text-decoration: none;}
a:hover{color: var(--black);}
button:hover{background-color: #ea580c;}
button:active{background-color:      var(--green);}
header { background-image: url(landing-materials/hero.jpg);
    width: 100%;
    height: 800px;
    background-size: cover;
    background-position: center top;    }
.header__nav {max-width: 1024px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;   }
#logo { width: 100px;
    height: 100px;
    margin-top: 10px;}
nav {display:flex ;
    align-items: center;
    margin-top: 10px;}
.nav__price{padding:10px; }
.nav__feedback{padding: 10px;}
.phone {display:flex ;
    align-items: center;
    margin-top: 10px;}
.phone__icon{padding: 5px;}
.phone__text{padding: 5px;}
.header__main {max-width: 1024px;
    margin: 0 auto;    }
.header__main_title {font-size: 60px;
    font-weight: 900;
    letter-spacing: 5px;
    max-width: 600px;
    margin-top: 100px;
    margin-bottom: 50px;}
.header__main_title__text {max-width: 400px;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 50px;
    color: #78716c;}
.button {background-color: var(--orange);
    color: white;
    font-size: 20px;
    border-radius: 10px;
    border: none;
    padding: 15px 40px;}
.plus {max-width: 1024px;
    margin: 0 auto; }
.title {font-size: 35px;
    display: flex;
    justify-content: center;
    margin-top: 80px;
    margin-bottom: 50px;}
.plus2 {display: flex;
    justify-content: center;}
.plus__item{display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fafaf9;
    border-radius: 10px;
    margin: 15px;}
.group-people{width: 500px;}
.icon {background-color: var(--orange);
    font-size: 25px;
    color: white;
    border-radius: 10px;
    padding: 15px;
    margin: 15px;}
.plus__item-title {font-size: 20px;
    margin: 5px;}
.plus__item-text{font-size: 15px;
    padding: 30px;
    color: #78716c;
    line-height: 25px;}
article {max-width: 1024px;
    margin: 0 auto;
    display:flex ;
    align-items: flex-start;
    margin-top: 80px;}
.article__title {    font-size: 30px;
    margin-bottom: 50px;   }
.article__text {color: #44403c;
    margin-top: 20px;
    line-height: 20px;
    font-weight: 500;}
.free_lesson {background-color: #ffedd5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 80px;
    padding-bottom: 100px; }
.free_lesson_title{font-size: 35px;
    display: flex;
    justify-content: center;
    margin-top: 80px;
    margin-bottom: 20px;}
.free_lesson_text{font-size: 18px;
    display: flex;
    justify-content: center;
    margin-top: 0px;
    margin-bottom: 50px;
    color: #78716c;}
.free_lesson__form{display: flex;
    justify-content: center;
    margin:10px;}
form{display: flex;
    justify-content: center;}
#form__name{margin: 0 10px;
    font-size: 20px;
    border-radius: 10px;
    border: 1px solid var(--grey);
    padding: 15px 10px;}
#form__phone{margin: 0 10px;
    font-size: 20px;
    border-radius: 10px;
    border: 1px solid var(--grey);
    padding: 15px 10px;}
.feedback {background-color: 
    #fafaf9;
    padding: 30px 0;}
.feedback__text{max-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    align-content: flex-start;}
.feedback__item {max-width: 800px;
    margin-top: 10px;
    margin-bottom: 10px;}
.feedback__item-title{display: flex;
    justify-content: flex-start;
    color:    #44403c;
    margin-bottom: 10px;
    font-size: 20px;}
.feedback__item-text{color: #78716c;
    line-height: 25px;}
.line{max-width: 600px;
    border: 1px solid var(--grey);
    margin-top: 20px;}
.price{max-width: 1024px;
    margin: 0 auto;}
.price2 {display: flex;
    justify-content: center;}
.price3 {display: flex;
    flex-direction: column;
    justify-content: space-between;
    border:2px solid var(--grey) ;
    border-radius: 10px;
    margin: 15px;
    padding-left: 20px;}
.price__item {display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    color:    #57534e;
    font-size: 14px; }
.price__button {background-color: #ffedd5;
    color:     var(--orange);
    font-size: 17px;
    border-radius: 10px;
    border: none;
    padding: 9px 80px;
    margin-bottom: 10px;
    margin-right: 15px;}
#price__button{display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;}
.price__title1{ color: var(--orange);
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;}
.price__title2{font-size: 20px;
    margin-bottom: 20px;
    font-weight: 900;}
.price__item1{padding-bottom: 10px;}
.fa-check {color:var(--green);}
.footer__phone{display: flex;
    justify-content: space-evenly;
    margin: 70px;
    font-size: 16px;}
footer { display: flex;
    justify-content: space-evenly;
    background-color: var(--grey);
    color: #57534e;
    margin-top: 130px;}
.footer__icon{display: flex;
    justify-content: space-evenly;
    margin: 70px;
    font-size: 25px;}
.mail{display: flex;
    justify-content: space-evenly;
    margin: 70px;}
.fa-instagram{margin-left: 15px;}
.fa-square-facebook{margin-left: 15px;}
.fa-twitter{margin-left: 15px;}

